//Fonts
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@font-face {
    font-family: Bignoodle;
    src: url(~/fonts/big_noodle_titling_oblique.ttf);
}

//Vars
$brand-color: #40D2A4;

//SCSS
html {
	font-size: 16px;
}

 body {
 	font-family: 'Ubuntu', sans-serif;
 }

 	$brand-color: #40D2A4;
	$trapwolves: #40D2A4;

	.welcome {

		text-align: center;

		h1.title {
			font-size: 3rem;
			font-family: 'Bignoodle', sans-serif;
			color: $trapwolves;
			margin-bottom: 20px;
			font-weight: normal;
		}

		h2.subtitle {
			font-size: 2rem;
			font-family: 'Bignoodle', sans-serif;
			color: black;
			font-weight: normal;
		}

		.image-logo {
			max-width: 100px;
			margin: 0 auto;
			margin-bottom: 20px;
		}

	}

	.shirts {
		margin-top: -70px;
		position: relative;

		.image-shirts {
			max-width: 500px;
			margin: 0 auto;
		}

		.arrow-left {
			position: absolute;
		    top: 125px;
		    max-width: 75px;
		    left: 0px;
		}

		.arrow-right {
			position: absolute;
		    top: 125px;
		    max-width: 75px;
		    right: 0px;
		}

	}

	@media screen and (max-width: 768px) {
		.image-shirts {
			max-width: 300px !important;
			margin: 0 auto;
		}

		.arrow-left, .arrow-right {
			display: none !important;
		}

	}

	.is-spotify {
		background-color: $brand-color;
		color: white;
		border: 1px solid $brand-color;

		.fa-spotify {
			padding-left: 10px;
		}
		&:hover, &:active, &:focus {
			color: white;
			border: 1px solid $brand-color;
		}
	}

	.display {
		display: none;
	}


